.bg-color1 {
    background-color: brown;
}

.bg-color2 {
    background-color: rgb(131, 45, 45);
}

.bg-color3 {
    background-color: rgb(97, 52, 52);
}

.bg-color4 {
    background-color: rgb(39, 5, 5);
}

.bg-color5 {
    background-color: rgb(20, 116, 79);
}

.bg-color6 {
    background-color: rgb(75, 42, 165);
}